In [5]:
import csv
import pandas as pd
with open('test.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    for data in csvReader:
        print(data)

df = pd.DataFrame(data)
df

['Trail name Mean "Standard Deviation" Variance low_range high_range min max']
['highlighted_icon_3', '49.32780487804878', '14.686242361258879', '215.68571469363476', '34.641562516789904', '64.01404723930766', '21.0', '81.0']

                    0
0  highlighted_icon_3
1   49.32780487804878
2  14.686242361258879
3  215.68571469363476
4  34.641562516789904
5   64.01404723930766
6                21.0
7                81.0